{% extends 'index.html' %}


{%block main_content%}
	<h2>About MyLife</h2>
	<p>
		MyLife is an open source, single-user replacement for <a href="http://ohlife.com">OhLife</a>, which was shut down on October 11, 2014. 
		MyLife will send you an email every day, asking you how your day was. The email will include your entry from one year ago, one month ago, or one week ago, depending on what's available. You simply reply to the email with your entry and it will be saved in your MyLife database. You can attach images to the email and they will be saved with your post.
	</p>
	<p>
		MyLife was created by <a href="http://einaregilsson.com">Einar Egilsson</a>, an OhLife user who was very sad to see OhLife get shut down and decided to create his own version of it.
	</p>
{%endblock%}