{% extends 'index.html' %}


{%block main_content%}

	
<h3>Pick a date to write</h3>
<h4>
	<a href="#prev-month">«</a>
	<span class="month-name"></span>
	<a href="#next-month">»</a>
</h4>
<table id="calendar">
	<tr>
		<th>Sun</th>
		<th>Mon</th>
		<th>Tue</th>
		<th>Wed</th>
		<th>Thu</th>
		<th>Fri</th>
		<th>Sat</th>
	</tr>
	<tr>
		<td class="d1"><div></div></td>
		<td class="d2"><div></div></td>
		<td class="d3"><div></div></td>
		<td class="d4"><div></div></td>
		<td class="d5"><div></div></td>
		<td class="d6"><div></div></td>
		<td class="d7"><div></div></td>
	</tr>
	<tr>
		<td class="d8"><div></div></td>
		<td class="d9"><div></div></td>
		<td class="d10"><div></div></td>
		<td class="d11"><div></div></td>
		<td class="d12"><div></div></td>
		<td class="d13"><div></div></td>
		<td class="d14"><div></div></td>
	</tr>
	<tr>
		<td class="d15"><div></div></td>
		<td class="d16"><div></div></td>
		<td class="d17"><div></div></td>
		<td class="d18"><div></div></td>
		<td class="d19"><div></div></td>
		<td class="d20"><div></div></td>
		<td class="d21"><div></div></td>
	</tr>
	<tr>
		<td class="d22"><div></div></td>
		<td class="d23"><div></div></td>
		<td class="d24"><div></div></td>
		<td class="d25"><div></div></td>
		<td class="d26"><div></div></td>
		<td class="d27"><div></div></td>
		<td class="d28"><div></div></td>
	</tr>
	<tr>
		<td class="d29"><div></div></td>
		<td class="d30"><div></div></td>
		<td class="d31"><div></div></td>
		<td class="d32"><div></div></td>
		<td class="d33"><div></div></td>
		<td class="d34"><div></div></td>
		<td class="d35"><div></div></td>
	</tr>
	<tr id="lastline">
		<td class="d36"><div></div></td>
		<td class="d37"><div></div></td>
		<td class="d38"><div></div></td>
		<td class="d39"><div></div></td>
		<td class="d40"><div></div></td>
		<td class="d41"><div></div></td>
		<td class="d42"><div></div></td>
	</tr>
</table>
{%endblock%}

{%block stylesheets%}
<link rel="stylesheet" href="/css/calendar.css">
{%endblock%}

{%block scripts%}
<script src="/js/calendar.js"></script>
{%endblock%}
